page-feedback {
//设置背景颜色
ion-content{
    .fixed-content{
        background: rgba($color: #000000, $alpha: 0) !important;
    }
    .scroll-content{
        background: rgba($color: #000000, $alpha: 0) !important;
    }
    background: color($colors,ty-partingline) !important;
}
    ion-textarea{
        height: 180px;
        textarea{
            height: 180px;
            margin-top: 0px !important;
            padding-left:14px !important;
            padding-top:10px !important;
        }
    }
    .placesize{
        input{
            font-size: 14px !important;
        }
    }
    ion-buttons{
        .button{
            margin:0px !important;
        }
    }
    .box{
        width:100%;
        height:45px;
        margin:0px;
        background:white;
        display: table;
    }
    .inner{
        padding-left:16px;
        font-size:16px;
        vertical-align: middle;
        display: table-cell;
    }
    .imgSize{
        width:70px;
        height:70px;
    }
    
    .delete{
        position: absolute;
        left: 5px;
        top: 0;
    }
}
