page-login {
    ion-input{
        font-size:0.9em;
    }

    .item-ios .item-button{
        height: 32px !important;
        font-size: 1.2rem !important;
    }

    .item-block{
        min-height: 5rem !important;
    }

    .footer
    {
        width: 100%;
        height: 8% !important;
        //background: url(../assets/imgs/regist_foot.png) center;
        background-repeat: no-repeat;
        z-index: 1;

    }
    .item-phone{
        background-color:transparent !important;
        width: 90%;
        margin-left: 10px;
        .item-icon
        {
            background: url(../assets/imgs/regist_username.png) no-repeat center !important;
            background-size:70% 70% !important; 
        }
    }
    .item-password{
        background-color:transparent !important;
        width: 90%;
        margin-left: 10px;
        .item-icon
        {
            background: url(../assets/imgs/regist_password.png) no-repeat center !important;
            background-size:80% 70% !important;
        }
    }
    .item-code{
        background-color:transparent !important;
        width: 90%;
        margin-left: 10px;
        .item-icon
        {
            background: url(../assets/imgs/regist_code.png) no-repeat center !important;
            background-size:80% 70% !important; 
        }
    }

    .background{
        width: 100%;
        height: 100% !important;
        background-position:top;
        background-image: url(../assets/imgs/login_bg.png);
        background-repeat: no-repeat;
        background-size:100% 280px; 
        z-index: 1;
    }

    .logoHeader{
        margin-top: 30px;
        img{
            width: 115px;
            height: 115px;
        }
    }
    .iputcenter{
        padding: 30px 0px 0px 0px;
        width: 90%;
        height: 280px;;
        background-image: url(../assets/imgs/sms_login_bg.png);
        background-repeat: no-repeat;
        background-size:100% 280px;
        margin:0 auto;
    }

    .iputcenter-right{
        padding: 30px 0px 0px 0px;
        width: 90%;
        height: 280px;;
        background-image: url(../assets/imgs/pwd_login_bg.png);
        background-repeat: no-repeat;
        background-size:100% 280px;
        margin:0 auto;
    }

    .segment-button{
        color: color($colors,ty-gray) !important;
        padding: 0px !important;
        .bolder-sm{
            border: 5px solid color($colors, ty-gray);
            margin: 0 auto;
        }
    }
    .segment-button.segment-activated{
        color: color($colors,primary) !important;
        font-weight: bold;
        .bolder-sm{
            border: 5px solid color($colors, primary);
            margin: 0 auto;
        }
    }
    .p1{
        color: color($colors,primary) !important;
        font-size: 1.3rem;
        vertical-align: middle;
    }
    .sg{
        padding: 0 20%;
        align-content: center;
    }
    .forget{
        width:90%;
        margin-left: 20px;
        line-height: 40px;
        text-align: right;
        vertical-align: middle;
        color: color($colors,primary);
    }

    .counting{
        width: 90px;
        height: 26px;
        color: color($colors,ty-gray);
        border-color: color($colors,ty-gray);
        border: 1.5px solid;
    }
    .ready{
        width: 90px;
        height: 26px;
        box-sizing: border-box;
        border: 1px solid transparent;
        background-clip: padding-box,border-box;
        background-origin: padding-box,border-box;
        background-image: linear-gradient(#fff,#fff),linear-gradient(to right,#0ebafb,#51e8ed);
        border-radius: 20px;
    }

    .loginBtn{
        background: linear-gradient(to right,#0ebafb,#51e8ed);
        color: white;
    }

    .head{
        margin-top:50px;
    }
    img-lazy-load{
        img{
            width: 80px;
            height: 80px !important;
            border-radius: 50%;
        }
    }
    .password{
        width:100%;
        text-align: right;
        color: color($colors,ty-blue);
    }
    .sms-login{
        width:50%;
        text-align: left;
        color: color($colors,ty-blue);
    }
}
