page-unsupported {
    .logoHeader{
        margin-top: 32%;
        z-index: 1;
    }

    img-lazy-load{
        img{
            width:130px;
            height:130px;
        }
    }

    .loginBtn{
        background: linear-gradient(to right,#0ebafb,#51e8ed);
        color: white;
    }
}
