page-tyac-records {
    //设置背景颜色
    // ion-content{
    //     .fixed-content{
    //         background: rgba($color: #000000, $alpha: 0) !important;
    //     }
    //     .scroll-content{
    //         background: rgba($color: #000000, $alpha: 0) !important;
    //     }
    //     background: color($colors,ty-partingline) !important;
    // }
    .commSegBtn{
        background: white!important;
        .segment-button{
            color: black !important;
        }
        .segment-button.segment-activated{
            color: color($colors,primary) !important;
            //background:  linear-gradient(to right,#0ebafb,#51e8ed) !important;
            font-weight: bold;
            text-align:center;
	        background-clip: padding-box, border-box;
	        background-origin: padding-box, border-box;
            background-image: linear-gradient(0, #fff, #fff), linear-gradient(to right, #0ebafb, #51e8ed);
            border-bottom: 3px transparent solid;
        }
    }

    .date{
        width: 60px;
        max-height: 50px;;
        color:transparent;
        padding:0px;
    }

    .empty{
        width: 100%;
        height: 100%;
        margin-top: 30%;
        text-align: center;
        color: rgb(189, 189, 189);
        img{
            width: 130px;
            height: 130px;
        }
    }
    .fail{
        width: 100%;
        height: 100%;
        margin-top: 30%;
        text-align: center;
        color: rgb(160, 160, 160);
        img{
            width: 100px;
            height: 100px;
        }
    }

    .titleItem{
        background: #f7f6f6;
    }

    .vcardNor{
        width: 20px;
        height: 30px;
        background: url(../assets/imgs/vcard_nor.png) no-repeat center !important;
        background-size:20px 30px !important;
    }
    .vcardExc{
        width: 20px;
        height: 30px;
        background: url(../assets/imgs/vcard_exc.png) no-repeat center !important;
        background-size:20px 30px !important;
    }
    .rcardNor{
        width: 20px;
        height: 30px;
        background: url(../assets/imgs/rcard_nor.png) no-repeat center !important;
        background-size:20px 30px !important;
    }
    .rcardExc{
        width: 20px;
        height: 30px;
        background: url(../assets/imgs/rcard_exc.png) no-repeat center !important;
        background-size:20px 30px !important;
    }

    .free{
        width: 24px;
        height: 26px;
        background: url(../assets/imgs/free.png) no-repeat center !important;
        background-size:24px 26px !important;
    }
    .costs{
        width: 23px;
        height: 27px;
        background: url(../assets/imgs/costs.png) no-repeat center !important;
        background-size:23px 27px !important;
    }

    .refresh{
        text-align: center;
        width: 65px;
        border-radius: 3px;
        line-height: 26px;
        background: linear-gradient(to right,#0ebafb,#51e8ed);
        color: white;
        font-size: 1.3rem;
    }
}
