page-user-protocol {
//设置背景颜色
ion-content{
    background: rgba(110, 110, 110, 0.5) !important;
}
    .dlgBg{
        position: absolute;
        top: 0px;
        margin: 5%;
        background: #ffffff;
        border: #ffffff;
        border-radius: 10px;
        height: 95%;
    } 

    .close{
        margin: 10px 10px 0px 0px;
        color: rgb(218, 218, 218);
        font-size: 4rem
    }

    .header{
        background: rgba(110, 110, 110, 0.5);
        height: 5%;
    }

    .footer{
        position: fixed;
        bottom: 0;
        background: rgba(110, 110, 110, 0.5);
        height: 20px;
    }

    .doc{
        padding: 10px;
        height: 90%;
        overflow-y:auto;
    }
}
