page-forget-password {
    //设置背景颜色
    ion-content{
        .fixed-content{
            background: rgba($color: #000000, $alpha: 0) !important;
        }
        .scroll-content{
            background: rgba($color: #000000, $alpha: 0) !important;
        }
        background: color($colors,ty-partingline) !important;
    }

    .item-button{
        height: 32px !important;
        font-size: 1.2rem !important;
    }
    .counting{
        width: 90px;
        height: 26px;
        color: color($colors,ty-gray);
        border-color: color($colors,ty-gray);
        border: 1.5px solid;
    }
    .ready{
        width: 90px;
        height: 26px;
        box-sizing: border-box;
        border: 1px solid transparent;
        background-clip: padding-box,border-box;
        background-origin: padding-box,border-box;
        background-image: linear-gradient(#fff,#fff),linear-gradient(to right,#0ebafb,#51e8ed);
        border-radius: 20px;
    }
    .item-block{
        min-height: 6rem !important;
    }   
    .item-phone
    {
        .item-icon
        {
            
            background: url(../assets/imgs/forget_phone.png) no-repeat center !important;
            background-size:120% 100% !important;
        }
    }
    .item-code
    {
        .item-icon
        {
            
            background: url(../assets/imgs/forget_message.png) no-repeat center !important;
            background-size:130% 110% !important;
        }
    }
    .item-password
    {
        .item-icon
        {
            
            background: url(../assets/imgs/new_password.png) no-repeat center !important;
            background-size:120% 100% !important;
        }
    }
    .item-repeatpwd
    {
        .item-icon
        {
            
            background: url(../assets/imgs/repeat_password.png) no-repeat center !important;
            background-size:120% 100% !important;
        }
    }
}
